@using Microsoft.AspNet.Identity

@if (Request.IsAuthenticated)
{
    <li>@Html.ActionLink("Events", "Index", "Events")</li>

    if (Context.User.IsInRole("Admin"))
    {
        <li>@Html.ActionLink("Reservations", "Index", "Reservations")</li>
        <li>@Html.ActionLink("Payments", "Index", "Payments")</li>
        <li>@Html.ActionLink("Locations", "Index", "Locations")</li>
        <li>@Html.ActionLink("Add Member", "Register", "AddMembers")</li>
        <li>@Html.ActionLink("Reports", "Index", "Reports")</li>
    }
    else
    {
        <li>@Html.ActionLink("Locations", "Index", "LocationsUser")</li>
    }
}
else
{
    <li>@Html.ActionLink("Book Location", "BookLocation", "Home")</li>
}